:root {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%; font-optical-sizing: auto;

    --header_height: 60px;
}

html {
    font-family: InterVariable, sans-serif;
}

body {
    margin: 0;

    font-family: InterVariable, sans-serif;

    --color-page-background: #1a1a1a;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}