{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "endOfLine": "auto",
    "singleAttributePerLine": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false
}