.react {
    animation: logo-spin infinite 20s linear;

    &:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.button {
    padding: 0.6em 1.2em;

    font-weight: 500;
    font-size: 1em;
    font-family: inherit;

    background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;

    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}
