* {
    -webkit-tap-highlight-color: transparent;
}

input[type='date']::-webkit-inner-spin-button {
    display: none;
}

button {
    border-radius: 0;
}

a,
input {
    outline: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
body {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}
